#edit_order .main-title {
    font-size: 18px;
    font-weight: bold;
    color: #707070;
    font-style: italic;
}
#edit_order .sub-title {
    font-size: 12px;
    font-style: italic;
    color: #bebaba;
}
#edit_order label {
    color: #6f6767;
    margin-bottom: 5px;
}
.btn_update_order {
    background-color: #ff9000;
    color: #fff!important;
    font-size: .9rem;
    font-weight: bold;
}
.close-order-edit{
    background-color: #9e9e9e;
    color: #fff!important;
    font-size: .9rem;
    margin-right: 10px;
}