/*BLOG*/
.blog-page #selling-wp{ margin-top: 0!important;}
.blog-page #list-blog-wp .section-title{
    font-size: 21px;
    text-transform: uppercase;
    line-height: normal;
    margin-bottom: 20px;
}
#list-blog-wp .list-item li{ padding-bottom: 30px;}
#list-blog-wp .list-item li:last-child{ padding-bottom: 0;}
#list-blog-wp .thumb{
    width: 30%;
    display: block;
    height: 165px;
}
#list-blog-wp .thumb img {
    height: 100%;
    width: 100%;
}
#list-blog-wp .info{ width: 70%; padding-left: 25px;}
#list-blog-wp .info .title{
    display: block;
    font-size: 21px;
    line-height: 30px;
    font-family: 'Roboto Regular';
    color: #1f1f1f;
    padding-bottom: 5px;
}
#list-blog-wp .info .create-date{
    position: relative;
    display: block;
    font-size: 13px;
    color: #989898;
    padding-left: 20px;
    padding-bottom: 5px;
}
#list-blog-wp .info .create-date:before{
    position: absolute;
    content: '\f017';
    font-family: 'FontAwesome';
    top: 0;
    left: 0;
    font-size: 14px;
}
#list-blog-wp .info .desc{
    line-height: 26px;
    color: #3f3f3f;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -o-line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    max-height: 100%;
    overflow: hidden;
}
.wp-pagination {
    margin-top: 67px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.pagination li  a.page-link {
    display: block;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 100%;
    background-color: #e1e1e1;
    line-height: 40px;
    text-align: center;
    color: #696969;
    box-shadow: 0 0 2px rgba(72, 72, 72, 0.51);
}
.pagination li  a.page-link[data-page='current'] {
    background-color: #a4dce8;
    color: #737373;
    font-weight: bold;
}
.pagination span.page-more {
    font-size: 2.2rem;
    color: #a8a8a8;
    padding-bottom: 8px;
}
.progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    opacity: .3;
    background-color: rgba(187, 187, 187, 0.18);
}
.progress-bar {
    background: none;
    position: absolute;
    top: 40%;
    left: 54%;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(216, 0, 0);
    margin: -4px 0 0 -4px;
    z-index: 1;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  